<html xmlns:tp="http://schemas.datacontract.org/2004/07/Microsoft.VisualStudio.TestPlatform.Extensions.HtmlLogger.ObjectModel" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:msxsl="urn:schemas-microsoft-com:xslt">
  <body>
    <h1>Test run details</h1>
    <div class="summary">
      <div class="block"><span>Total tests</span><div class="total-tests">123</div><br></div>
      <div class="block"><span>Passed  : </span><span class="passedTests">123</span><br><span>Failed  : </span><span class="failedTests">0</span><br><span>Skipped : </span><span class="skippedTests">0</span><br></div>
      <div class="block"><span>Pass percentage</span><div class="pass-percentage">100 %</div><br></div>
      <div class="block"><span>Run duration</span><div class="test-run-time">12s 330ms</div><br></div><br></div>
    <h2>All Results</h2><details><summary>C:\Users\nicho\Documents\UCOL\D202\Assignment-2-Scrum-Team-Assignment\SprintTests\bin\Debug\net8.0-windows\SprintTests.dll</summary><div class="inner-row" Id="1353308917">
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_ValidDatasets_CompletesSuccessfully(temperatures: [5, 10, 50, 90, 100])​</span><div class="duration"><span>241ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_ValidDatasets_CompletesSuccessfully(temperatures: [-10, -5, 0, 5, 10])​</span><div class="duration"><span>9ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_ValidDatasets_CompletesSuccessfully(temperatures: [10, 15, 20, 25, 30])​</span><div class="duration"><span>7ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_ValidDatasets_CompletesSuccessfully(temperatures: [20, 20, 20, 20, 20])​</span><div class="duration"><span>9ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_ValidDatasets_CompletesSuccessfully(temperatures: [25])​</span><div class="duration"><span>7ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_ValidDatasets_CompletesSuccessfully(temperatures: [30, 10, 40, 20, 50, ···])​</span><div class="duration"><span>9ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_LargeDataset_CompletesSuccessfully​</span><div class="duration"><span>9ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_DecimalTemperatures_CompletesSuccessfully​</span><div class="duration"><span>8ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.BoxPlotTests.ShowBoxPlot_UpdatedData_RedrawsWithoutException​</span><div class="duration"><span>9ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_2.GetAllUsers_ReturnsUsers​</span><div class="duration"><span>278ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_2.GetAllSensors_ReturnsSensors​</span><div class="duration"><span>10ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_2.Login_SQLInjectionAttempt_ShouldFail​</span><div class="duration"><span>19ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_2.GetAllLocations_ReturnsLocations​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_2.GetAllSensors_SensorsHaveLocationInformation​</span><div class="duration"><span>2ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_3.UpdateUser_InvalidRole_ThrowsException​</span><div class="duration"><span>341ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_3.UpdateUser_ValidData_ReturnsTrue​</span><div class="duration"><span>202ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_3.UpdateUser_ChangesReflectedInDatabase​</span><div class="duration"><span>219ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_3.UpdateUser_NonExistentId_ReturnsFalse​</span><div class="duration"><span>2ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintTests.Sprint_3.UpdateUser_DuplicateUsername_ThrowsException​</span><div class="duration"><span>432ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.UserDatabaseTests.Login_NonExistentUser_ReturnsFalse​</span><div class="duration"><span>2ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.UserDatabaseTests.Login_ValidAdminCredentials_ReturnsTrueAndAdminRole​</span><div class="duration"><span>185ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.UserDatabaseTests.Login_ValidUserCredentials_ReturnsTrueAndUserRole​</span><div class="duration"><span>437ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.UserDatabaseTests.Login_InvalidPassword_ReturnsFalse​</span><div class="duration"><span>180ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.UserDatabaseTests.Register_NewUser_SuccessfullyAddsUser​</span><div class="duration"><span>400ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.UserDatabaseTests.Register_DuplicateUsername_ThrowsException​</span><div class="duration"><span>365ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.ReadingFilter_WhenScreenNotReady_DoesNotRefresh​</span><div class="duration"><span>137ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.SelectedLocations_RoomsWithoutLocationRecords_AreIgnored​</span><div class="duration"><span>41ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.RoomCheckbox_InvalidSender_DoesNotThrow​</span><div class="duration"><span>34ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.ShowScreen_OnlyRequestedScreenVisible(target: "LoginScreen")​</span><div class="duration"><span>58ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.ShowScreen_OnlyRequestedScreenVisible(target: "UserScreen")​</span><div class="duration"><span>33ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.ShowScreen_OnlyRequestedScreenVisible(target: "AdminScreen")​</span><div class="duration"><span>33ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.ShowScreen_OnlyRequestedScreenVisible(target: "NewUserScreen")​</span><div class="duration"><span>32ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.ChartOverlay_InvalidSender_DoesNothing​</span><div class="duration"><span>33ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.OpenUserScreen_ValidData_LoadsDashboardAndCharts​</span><div class="duration"><span>345ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.FloorCheckbox_Unselected_UnchecksAllRooms​</span><div class="duration"><span>34ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.RefreshDashboard_NoGranularity_DoesNotThrow​</span><div class="duration"><span>31ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.ChartOverlay_Close_HidesAndClearsChildren​</span><div class="duration"><span>33ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.FloorCheckbox_InvalidSender_DoesNotThrow​</span><div class="duration"><span>32ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.Logout_ClearsCredentialsAndReturnsToLogin​</span><div class="duration"><span>35ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.SelectedLocations_AllChecked_FromDatabase_ReturnsCorrectIds​</span><div class="duration"><span>46ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.SelectedLocations_MixedChecks_IncludesCheckedOnly​</span><div class="duration"><span>36ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.RedrawChartTiles_NoSelectedLocations_ReturnsSafely​</span><div class="duration"><span>34ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.NewUserButton_ShowsRegistrationScreen​</span><div class="duration"><span>32ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.SelectedLocations_EmptyTree_ReturnsEmpty​</span><div class="duration"><span>66ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.SelectedLocations_NoSelectedRooms_ReturnsEmpty​</span><div class="duration"><span>36ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.ChartOverlay_ChartClick_AddsEnlargedCopy​</span><div class="duration"><span>42ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.LocationSelection_WhenScreenNotReady_DoesNotRefresh​</span><div class="duration"><span>34ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.Settings_LoadedFromDatabase_UpdatesCheckboxes​</span><div class="duration"><span>42ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.RefreshLog_LoadsDatabaseLogIntoGrid​</span><div class="duration"><span>35ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.RedrawChartTiles_NoGranularity_ReturnsSafely​</span><div class="duration"><span>29ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.MainWindowCoverageTests.FloorCheckbox_Selected_ChecksAllRooms​</span><div class="duration"><span>31ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.BoxPlot_NoLocations_ReturnsEmpty​</span><div class="duration"><span>&lt; 1ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.LineGraph_ReadingsHaveValidTemperatures(granularity: Yearly)​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.LineGraph_ReadingsHaveValidTemperatures(granularity: Monthly)​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.LineGraph_ReadingsHaveValidTemperatures(granularity: Weekly)​</span><div class="duration"><span>2ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.LineGraph_ReadingsHaveValidTemperatures(granularity: Daily)​</span><div class="duration"><span>2ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.GeneratePeriodicTemperature_InsertsReadings​</span><div class="duration"><span>134ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.LineGraph_InvalidGranularity_ThrowsException​</span><div class="duration"><span>&lt; 1ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.BoxPlot_AverageIsWithinTemperatureRange​</span><div class="duration"><span>4ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.CurrentTemperature_ExistingLocation_ReturnsFiniteValue​</span><div class="duration"><span>5ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartDataTests.BoxPlot_MinimumIsNeverGreaterThanMaximum​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.RecordDashboard_NewSnapshot_AppearsInLog​</span><div class="duration"><span>7ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.Login_UnknownUsername_ReturnsFalse​</span><div class="duration"><span>&lt; 1ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetChartReadings_ValidGranularity_ReturnsReadings(granularity: Daily)​</span><div class="duration"><span>5ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetChartReadings_ValidGranularity_ReturnsReadings(granularity: Yearly)​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetChartReadings_ValidGranularity_ReturnsReadings(granularity: Monthly)​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetChartReadings_ValidGranularity_ReturnsReadings(granularity: Weekly)​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.Register_DuplicateUsername_ThrowsException​</span><div class="duration"><span>148ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetAllUsers_AfterRegister_ContainsNewUser​</span><div class="duration"><span>192ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.Register_InvalidRole_ThrowsException​</span><div class="duration"><span>1ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.DeleteUser_ExistingUser_RemovesUser​</span><div class="duration"><span>193ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.Login_ValidUserCredentials_ReturnsUserRole​</span><div class="duration"><span>385ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetLatestTemp_InvalidLocation_ReturnsNull​</span><div class="duration"><span>4ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.UpdateSettings_NewTick_IsSavedCorrectly​</span><div class="duration"><span>8ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.Login_InvalidPassword_ReturnsFalseAndEmptyRole​</span><div class="duration"><span>170ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.SaveSettings_NewValues_AreSavedCorrectly​</span><div class="duration"><span>43ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetAggregates_ValidLocation_ReturnsTemperatureSummary​</span><div class="duration"><span>9ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetChartReadings_InvalidGranularity_ThrowsArgumentOutOfRangeException​</span><div class="duration"><span>&lt; 1ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.UpdatePassword_ValidUser_ChangesLoginPassword​</span><div class="duration"><span>826ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetLatestTemp_ValidLocation_ReturnsTemperature​</span><div class="duration"><span>4ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetSettings_InitializedDatabase_ReturnsSettings​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.DeleteUser_UnknownId_ReturnsFalse​</span><div class="duration"><span>&lt; 1ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetDashboardLog_LimitOfThree_ReturnsAtMostThreeRecords​</span><div class="duration"><span>4ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.UpdateUser_ValidUser_UpdatesDetailsAndRole​</span><div class="duration"><span>447ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.GetAggregates_EmptyLocations_ReturnsEmptyList​</span><div class="duration"><span>&lt; 1ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.Login_ValidAdminCredentials_ReturnsAdminRole​</span><div class="duration"><span>190ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.Initialize_CreatesLocationsAndSensors​</span><div class="duration"><span>4ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.SprintFeatureTests.Register_NewUser_CanLogIn​</span><div class="duration"><span>445ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_BoundaryTemperatures_CorrectHeight(temperature: 49.899999999999999, expectedHeight: 103.792)​</span><div class="duration"><span>11ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_BoundaryTemperatures_CorrectHeight(temperature: 0, expectedHeight: 0)​</span><div class="duration"><span>8ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_BoundaryTemperatures_CorrectHeight(temperature: 50, expectedHeight: 104)​</span><div class="duration"><span>7ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_BoundaryTemperatures_CorrectHeight(temperature: 0.10000000000000001, expectedHeight: 0.20799999999999999)​</span><div class="duration"><span>8ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_OutsideRange_ClampsHeight(temperature: -0.10000000000000001, expectedHeight: 0)​</span><div class="duration"><span>8ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_OutsideRange_ClampsHeight(temperature: 50.100000000000001, expectedHeight: 104)​</span><div class="duration"><span>26ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.CreateEnlargedCopy_PreservesChartData​</span><div class="duration"><span>19ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_ZeroRange_DoesNotCrash​</span><div class="duration"><span>11ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.EnlargedChart_BarUpdates_CopiesNewValues​</span><div class="duration"><span>16ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_AboveMaximum_ClampsBarHeight​</span><div class="duration"><span>8ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.EnlargedChart_BandUpdates_CopiesNewValues​</span><div class="duration"><span>14ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowLine_ValidData_DisplaysCorrectStatistics​</span><div class="duration"><span>10ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowLine_ValidData_DisplaysCorrectTimeLabels​</span><div class="duration"><span>10ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_Midpoint_FillsHalfBar​</span><div class="duration"><span>8ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowLine_EmptyData_ShowsPlaceholder​</span><div class="duration"><span>10ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowLine_SingleReading_CalculatesStatistics​</span><div class="duration"><span>11ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowLine_ValidData_StoresCorrectValues​</span><div class="duration"><span>11ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowPlaceholder_NoData_ClearsValues​</span><div class="duration"><span>11ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowBand_ValidData_DisplaysCorrectRange​</span><div class="duration"><span>10ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowBars_ValidData_StoresCorrectValues​</span><div class="duration"><span>10ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.ShowLine_MissingLabels_DoesNotCrash​</span><div class="duration"><span>10ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_BelowMinimum_ClampsBarToZero​</span><div class="duration"><span>7ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.EnlargedChart_Placeholder_ClearsPreviousData​</span><div class="duration"><span>13ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.ChartTests.UpdateValue_ValidTemperature_StoresValue​</span><div class="duration"><span>10ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.UpdateUser_InvalidRole_DoesNotChangeUser​</span><div class="duration"><span>228ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.UpdatePassword_OldPasswordStopsWorking​</span><div class="duration"><span>852ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.Login_SQLInjectionInPassword_ReturnsFalse​</span><div class="duration"><span>190ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.Query_ReturnsColumnNamesAndValues​</span><div class="duration"><span>4ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.SaveJsonTest_ExportDataToJson​</span><div class="duration"><span>44ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.UpdateUser_ChangeToAdmin_UpdatesLoginRole​</span><div class="duration"><span>445ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.Login_EmptyUsername_ReturnsFalse​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.UpdateUser_NegativeId_ReturnsFalse​</span><div class="duration"><span>3ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.DeleteUser_RemovedAccount_CannotLogin​</span><div class="duration"><span>225ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.UpdateUser_DuplicateUsername_PreservesOriginal​</span><div class="duration"><span>448ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
        <div class="leaf-division">
          <div><span class="pass">✔</span><span> SprintUnitTests.AdditionalCoreTests.Login_EmptyPassword_ReturnsFalse​</span><div class="duration"><span>192ms</span><br></div>
          </div>
          <div class="error-info"></div>
        </div>
      </div></details><div>
      <h2>Informational messages</h2><span>[xUnit.net 00:00:00.00] xUnit.net VSTest Adapter v2.8.2+699d445a1a (64-bit .NET 8.0.33)</span><br><span>[xUnit.net 00:00:00.16]   Discovering: SprintTests</span><br><span>[xUnit.net 00:00:00.24]   Discovered:  SprintTests</span><br><span>[xUnit.net 00:00:00.24]   Starting:    SprintTests</span><br><span>[xUnit.net 00:00:11.33]   Finished:    SprintTests</span><br></div>
  </body>
  <style>
        body { font-family: Calibri, Verdana, Arial, sans-serif; background-color: White; color: Black; }
        h2 {
        margin-top: 15px;
        margin-bottom:10px;
        }
        pre {
        white-space: pre-wrap;
        }
        .summary {font-family:monospace;
        display: -webkit-flex; /* Safari */
        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
        display: flex;
        flex-wrap: wrap;
        }
        .row {
        border: 2px solid #ffffff;
        width:100%;
        cursor:pointer;
        background-color:#d7e9fa;
        }
        .list-row {
        border: 2px solid #ffffff;
        width:100%;
        cursor:pointer;
        background-color:#ffffff;
        }
        .inner-row{
        border: 2px solid #ffffff;
        padding-left:1%;
        margin-left:1%;
        background-color:#ffffff;
        }
        .block{
        width : 150px;
        }
        .leaf-division{
        border: 2px solid #ffffff;
        background-color:#e6eff7;
        }
        .pass { color: #0c0; }
        .fail { color: #c00; }
        .error-message { color : brown; }
        .error-stack-trace { color: brown; }
        .duration {float:right;padding-right:1%;}
        .total-tests { font-size : 30px}
        .test-run-time { font-size : 30px}
        .pass-percentage { font-size : 30px}
        .error-info{
        margin-left:16px;
        }
      </style>
</html>